.navbar {
  @apply w-full bg-[#14174C];
  @screen sm {
    .container {
      @apply px-[35px] py-[50px] pb-[32px] flex items-center justify-between;
      .logo {
        a {
          @apply font-montserrat font-bold text-[18px] text-[#FFFFFF] relative;
          &:before {
            content: "";
            position: absolute;
            bottom: -10px;
            left: 0;
            width: 80px;
            height: 3px;
            @apply bg-brand;
            border-radius: 4px;
          }
        }
      }
      .menuIcon {
        @apply w-[45px] h-[45px] rounded-[10px] bg-[rgba(196,196,196,0.15)] flex items-center justify-center cursor-pointer shadow-[0px_4px_4px_rgba(0,0,0,0.15)];
        svg {
          @apply w-[30px] h-[30px] rotate-[270deg] text-[#FFFFFF];
        }
      }
    }
  }
}
